.statGridCell {
  border: 0px solid black;
}

.statGridRowTitle {
  width: 50%;
}

.statGridTrial {
  width: 10%;
  text-align: right;
  border-left: 1px dotted #00E6E6;
}

.statGridTest {
  width: 30%;
  text-align: right;
  border-left: 1px dotted #00E6E6;
}

.statGridAllTime {
  width: 0%;
  text-align: right;
  border-left: 1px dotted #00E6E6;
}

.circle {
  border-radius: 50%;
  border: 1px solid black;	
}

.activeStimulus {
  background-color: #93c47d;
}