.statGridCell {
  border-color: black;
  border: 1px solid;
}

.statGridRowTitle {
<<<<<<< HEAD
	background: green;
	width: 25%;
=======
  border-color: black;
  border: 1px solid;
  width: 25%;
>>>>>>> 92d4e060bbd8e69c537a249620bfd5ffd561979c
}

.statGridTrial {
  border-color: black;
  border: 1px solid;
  width: 25%
}

.statGridTest {
  border-color: black;
  border: 1px solid;
  width: 25%
}

.statGridAllTime {
  border-color: black;
  border: 1px solid;
  width: 25%
}
