.statGridCell {
  border: 0px solid black;
}

.statGridRowTitle {
  width: 50%;
}

.statGridTrial {
  width: 20%;
  text-align: right;
  border-left: 1px solid #ddd;
}

.statGridTest {
  width: 20%;
  text-align: right;
  border-left: 1px solid #ddd;
}

.statGridAllTime {
  width: 20%;
  display: none;
  text-align: right;
  border-left: 1px solid #ddd;
}

.statGridFinished .statGridTrial {
  display: none;
}

.statGridFinished .statGridAllTime {
  display: table-cell;
}

.statGridHeader {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.circle {
  border-radius: 50%;
  border: 1px solid black;	
}

.activeStimulus {
  background-color: #93c47d;
}