{% extends "h5bp.html" %}

{% block title %}CogniStats{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/css/base.css" type="text/css" />
{% endblock %}

{% block header %}
<div id="header">
  <h1>CogniStats</h1>
  <h3>sub-blurb about how it rocks</h3>
</div>
{% endblock %}

{% block footer %}
<div id="#footer">
  <a href="/about">about</a> | <a href="/legal">legal</a> | <a href="/contact">contact</a> | <a href="/blog">blog</a>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
